<li>
	{{burger_name}}
	<button class="btn btn-primary btn-sm changeBurger" data-id="{{id}}" data-devouredburger="{{devoured}}">
		{{#if devoured}}Devour Me!{{else}}Devour It Again!{{/if}}
	</button>
</li>
<br>